<!-- header section start -->
<header
class="bg-transparent absolute top-0 left-0 w-full z-10 flex items-center navbar-fixed border-b-[1px] border-third"
>
<div class="container">
  <div class="flex items-center justify-between relative">
    <div class="px-4">
      <a href="#home" class="py-4 block"
        ><img src="./dist/img/logo.png" alt="AEAI logo's" width="75px"
      /></a>
    </div>
    <div class="flex items-center px-4">
      <button
        id="hamburger"
        name="hamburger"
        type="button"
        class="block absolute right-4 lg:hidden"
      >
        <span
          class="hamburger-line transition duration-300 ease-in-out origin-top-left"
        ></span>
        <span
          class="hamburger-line transition duration-300 ease-in-out"
        ></span>
        <span
          class="hamburger-line transition duration-300 ease-in-out origin-bottom-left"
        ></span>
      </button>
      <nav
        id="nav-menu"
        class="hidden absolute py-5 bg-white shadow-lg rounded-lg max-w-[250px] w-full top-full right-4 z-50 lg:block lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none"
      >
        <ul class="block lg:flex">
          <li class="group">
            <a
              href="/"
              class="text-base text-dark py-2 mx-8 flex group-hover:text-primary"
              >HOME</a
            >
          </li>
          <li class="group">
            <a
              href="/about"
              class="text-base text-dark py-2 mx-8 flex group-hover:text-primary"
              >ABOUT</a
            >
          </li>
          <li class="group">
            <a
              href="/memberships"
              class="text-base text-dark py-2 mx-8 flex group-hover:text-primary"
              >MEMBERSHIP</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</header>
<!-- header section end -->