<section id="home">
  <div
    class="bg-cover h-screen"
    style="background-image: url(./dist/img/page-bg/memberships.jpg)"
  >
    <div class="h-screen flex justify-center items-center text-center pt-32">
      <div class="container px-4" data-aos="fade-up" data-aos-duration="1500">
        <h1 class="text-4xl font-extrabold mb-2 lg:text-6xl text-white">
          Asosiasi Energi Angin Indonesia
        </h1>
        <h4 class="text-xl font-semibold lg:text-3xl text-slate-100 mb-3">
          Promoting Wind Power
        </h4>
        <a href="#membership"
          ><button
            class="text-base font-semibold text-white bg-primary py-3 px-8 rounded-full w-full hover:opacity-90 hover:shadow-lg max-w-md transition duration-300 ease-in-out"
          >
            JOIN US BELOW!
          </button></a
        >
      </div>
    </div>
  </div>
</section>

<!-- membership section -->
<section id="membership" class="pt-32 pb-28">
  <div class="container">
    <h3
      class="w-full px-4 max-w-4xl mx-auto text-dark text-2xl font-bold mb-3 text-center lg:text-3xl"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      AEAI MEMBERSHIP BENEFITS
    </h3>
    <div class="w-full px-4 flex flex-wrap justify-center items-center mb-8">
      <div
        class="mb-5 p-4 md:w-1/2"
        data-aos="fade-right"
        data-aos-duration="1500"
      >
        <div class="rounded-md shadow-md overflow-hidden">
          <img
            src="./dist/img/visimissi/vision.jpg"
            alt="Landing Page"
            width="w-full"
          />
        </div>
      </div>
      <div
        class="mb-12 p-4 md:w-1/2"
        data-aos="fade-left"
        data-aos-duration="1500"
      >
        <ul class="list-disc">
          <li>
            Get updated information about the wind power business, regulations,
            government policies and other other than sekreatriat AEAI and
            through the exchange of information and experiences among members.
          </li>
          <li>
            Can give their views, suggestions and opinions as a business players
            to be channeled and articulated to the government / regulator
            through Association channel.
          </li>
          <li>
            Getting the extensive business network and focus in the field of
            wind power to build synergies, partnerships with business partners /
            investors nationally and internationally.
          </li>
          <li>
            Improving intellectual abilities in the fields of technology,
            business, relationships and self-development through workshops,
            seminars and conventions held by AEAI.
          </li>
        </ul>
      </div>
    </div>

    <div class="w-full px-4 hidden" id="alert">
      <div
        class="w-full lg:w-2/3 lg:mx-auto mb-8 bg-slate-200 px-4 py-4 rounded-lg flex justify-between items-center border border-primary shadow-lg"
      >
        <h4 class="font-semibold text-lg text-dark">
          Please sent the downloaded file to
          <span class="text-primary">admin@aeaindonesia.id</span>
        </h4>
        <button id="exitAlert" name="exitAlert" type="button" class="right-4">
          <!-- Made the X for the alert with the hamburger line, the second line color is the same with the background so the X sign has a good shape. In other words, that is my own thing because I still don't know how to make the X sign on my own -->
          <span class="hamburger-line origin-top-left rotate-45"></span>
          <span
            class="w-[2px] h-[2px] my-2 block bg-slate-200 rounded-full"
          ></span>
          <span class="hamburger-line origin-bottom-left -rotate-45"></span>
        </button>
      </div>
    </div>

    <div
      class="w-full px-4 max-w-xl mx-auto"
      id="download"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <form action="/downloads" method="get">
        <button
          tpye="submit"
          class="text-base font-semibold text-white bg-primary py-3 px-8 rounded-full w-full hover:opacity-80 hover:shadow-lg"
        >
          CLICK HERE TO JOIN US!
        </button>
      </form>
    </div>
  </div>
</section>
<!-- membership section end -->

<!-- footer start -->
<footer class="bg-dark pt-24 pb-12" data-aos="fade-up" data-aos-duration="1500">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="w-full px-4 mb-12 text-slate-300 font-medium md:w-1/3">
        <h2 class="font-bold text-4xl text-white mb-5">
          ASOSIASI ENERGI ANGIN INDONESIA
        </h2>
        <h3 class="font-bold text-2xl mb-2">Contact Us</h3>
        <p>admin@aeaindonesia.id</p>
        <p>Mulholland Drive</p>
        <p>Beverly Hills</p>
      </div>
      <div class="w-full px-4 mb-12 md:w-1/3">
        <h3 class="font-semibold text-xl text-white mb-5">Page Section</h3>
        <ul class="text-slate-300">
          <li>
            <a
              href="#home"
              class="inline-block text-base hover:text-primary mb-3"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#membership"
              class="inline-block text-base hover:text-primary mb-3"
              >Membership</a
            >
          </li>
        </ul>
      </div>
      <div class="w-full px-4 mb-12 md:w-1/3">
        <h3 class="font-semibold text-xl text-white mb-5">Page Navigation</h3>
        <ul class="text-slate-300">
          <li>
            <a href="/" class="inline-block text-base hover:text-primary mb-3"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/about"
              class="inline-block text-base hover:text-primary mb-3"
              >About</a
            >
          </li>
          <li>
            <a
              href="/memberships"
              class="inline-block text-base hover:text-primary mb-3"
              >Membership</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="w-full pt-10 border-t border-slate-700">
      <p class="font-medium text-xs text-slate-500 text-center">
        <span class="text-primary">AEAI Indonesia</span>. Promoting Wind Power
      </p>
    </div>
  </div>
</footer>
<!-- footer end -->
